*
!.gitignore
!.github/
!.github/**
!README-GITHUB.md
!site-base.zip
!data/
data/*
!data/produtos.js
!data/experiencias.js
!data/importacao-v13_5-*.json
!data/importacao-v13_6-*.json
!assets/
assets/*
!assets/produtos/
!assets/produtos/**
